<div class="home-container">
  <div class="load-container">
    <i class="material-icons">
      check_circle
    </i>
    <div class="load-data-container">
      <div class="date-data">
        <p>Monday</p>
        <p>10th 2:28</p>
        <p>PM</p>
      </div>
      <div class="origin-destination-data">
        <p>Houston, TX, 33619</p>
        <i class="material-icons">
          keyboard_arrow_down
        </i>
        <p>Atlanta, GA, 30123</p>
      </div>
      <div class="price-description">
        <i class="material-icons">
          local_shipping
        </i>
        <b>$250.00</b>
        <div class="cant-box">1</div>
        <i class="material-icons">
          more_vert
        </i>
      </div>
    </div>
  </div>
</div>
