<div class="home-container">
  <div class="load-container" *ngFor="let item of shippingList">
    <i class="material-icons">
      check_circle
    </i>
    <div class="load-data-container">
      <div class="date-data">
        <p>{{ item.date.dayName }}</p>
        <p>{{ item.date.day }} {{ item.date.hour }}</p>
        <p>{{ item.date.meridiem }}</p>
      </div>
      <div class="origin-destination-data">
        <p>{{ item.origin }}</p>
        <i class="material-icons">
          keyboard_arrow_down
        </i>
        <p>{{ item.destination }}</p>
      </div>
      <div class="price-description">
        <i class="material-icons">
          local_shipping
        </i>
        <b>${{ item.price }}</b>
        <div class="cant-box">{{ item.quantity }}</div>
        <i class="material-icons">
          more_vert
        </i>
      </div>
    </div>
  </div>
</div>
