<div class="nav-bar-container">
  <nav>
    <a routerLink="/home" routerLinkActive="link-activated" class="link"
      >Home</a
    >
    <a routerLink="/messages" routerLinkActive="link-activated" class="link"
      >Messages</a
    >
    <a routerLink="/wishlist" routerLinkActive="link-activated" class="link"
      >Wishlist</a
    >
    <a routerLink="/settings" routerLinkActive="link-activated" class="link"
      >Settings</a
    >
    <a routerLink="/account" routerLinkActive="link-activated" class="link"
      >My Account</a
    >
  </nav>
  <div class="nav-bar-search-section">
    <i class="material-icons">
      check_circle
    </i>
    <input
      type="text"
      class="app-search-input nav-search-input"
      placeholder="Search"
    />
  </div>
</div>
